<form method="post" action="/?controller=BlobController&action=createcontainer">
Container name: <input type="text" name="containername" />
<input type="submit" name="submit" value="Create container" />
</table>