<form method="post" action="/?controller=BlobController&action=createblob" enctype="multipart/form-data">
<input type="hidden" name="container" value="{{ container }}" />
Blob: <input type="file" name="blobfile" /><br />
<input type="submit" name="submit" value="Create blob" />
</table>