{{ tablecount }} tables currently present (<a href="/?controller=TableController&action=create">create table</a>)<br />
<br />
<table>
  <tr>
    <th>Table</th>
  </tr>
  {% for table in tables %}
    <tr>
      <td>{{ table.name }}</td>
      <td><a href="/?controller=TableController&action=entitylist&table={{ table.name }}">List entities</a></td>
      <td><form method="post" action="/?controller=TableController&action=delete"><input type="hidden" name="table" value="{{ table.name }}" /><input type="image" name="submit" value="Delete table" src="/images/delete.png" /></form></td>
    </tr>
  {% endfor %}
</table>